[Unit]
Description=Unit for starting a basic Django app (running in port 8000)
After=network.target

[Service]
ExecStart=/home/ubuntu/scripts/csye6225-webapp.sh
Restart=always
WorkingDirectory=/home/ubuntu
User=ubuntu
Group=ubuntu
StandardOutput=file:/home/ubuntu/webapp-logs/logs.log
StandardError=file:/home/ubuntu/webapp-logs/logs.log

[Install]
WantedBy=multi-user.target

