[Unit]
Description=Unit for starting cloudwatch agent
After=network.target

[Service]
ExecStart=/home/ubuntu/cloudwatch/csye6225-cloudwatch.sh
User=root
Group=root
KillMode=process
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
